.title{
  font-size: 30px;
}
.title p{
    font-size: 20px;
  }

.owo{
    font-size: 30px;
  }
.owo p{
    font-size: 20px;
    }

.bueno{
    font-size: 30px;
    }
.bueno p{
    font-size: 25px;
    }
.apolo{
    font-size: 100px;
}